  <footer class="site-footer">

  <div class="wrapper">

    

    <div class="row">
      <div class="column medium-4">
        <ul class="contact-list">
          {% if site.email %}
          <li>
          {% include email.html email=site.email %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="column medium-4">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="column medium-4">
        <p><span class="fa fa-file-text-o"></span> <a href="/downloads/ChrisMorrow-Resume2016.pdf" target="_blank">Resume</a></p>
        <!-- subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a><br> -->
      </div>
    </div>

  </div>

</footer>

<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="{{ "/assets/js/app.js" | prepend: site.baseurl }}"></script>
<script src="/assets/js/search.js"></script>
