body {
	background-color: #000;
	color: #fff;
}
h1 {
	font-size: 3em;
}

#debug {
	font-size: 2em;
}


.container {
	width: 90%;
	margin: 0 auto;
}

section {
	color: #000;
	display:block;
	padding: 5px 10px;
	min-height: 50px;
	background-color: #ccc;
	margin-bottom: 10px;
}

section.good {
	background-color: green;
	color:#fff;
}

section.bad {
	background-color: red;
	color:#fff;
}