.no-margin {
  margin: 0 !important; }

.display-none {
  display: none; }

.hide {
  opacity: 0; }

.text-center {
  text-align: center !important; }

.clearfix:after, .row:after, .cf:after {
  content: "";
  display: table;
  clear: both; }

.wobble {
  position: relative;
  display: inline-block;
  -webkit-animation: wobble .75s linear infinite;
  -moz-animation: wobble .75s linear infinite;
  -ms-animation: wobble .75s linear infinite;
  -o-animation: wobble .75s linear infinite;
  animation: wobble .75s linear infinite; }

@keyframes wobble {
  0% {
    transform: rotate(-1deg); }
  20% {
    transform: rotate(1deg); }
  40% {
    transform: rotate(-1deg); }
  55% {
    transform: rotate(0deg); }
  70% {
    transform: rotate(-1deg); }
  80% {
    transform: rotate(1deg); }
  90% {
    transform: rotate(-1deg); }
  90% {
    transform: rotate(1deg); } }

.row.col-2 .col {
  width: 50%; }

.col {
  float: left; }

section.has-light-background, section.has-light-background h1, section.has-light-background h2, section.has-light-background h3, section.has-light-background h4, section.has-light-background h5, section.has-light-background h6 {
  color: #222; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #000;
  background-color: #000; }

.reveal {
  font-family: Helvetica, sans-serif;
  font-size: 38px;
  font-weight: normal;
  color: #fff; }

::selection {
  color: #fff;
  background: #ffbf80;
  text-shadow: none; }

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #fff;
  font-family: "Squealer", Helvetica, sans-serif;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: uppercase;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 2em; }

.reveal h2 {
  font-size: 1.2em; }

.reveal h3 {
  font-size: 1.1em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal q,
.reveal blockquote {
  quotes: none; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code {
  font-family: monospace; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super; }

.reveal sub {
  vertical-align: sub; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #ff7f00;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #ffa54d;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #b35900; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #ff7f00;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
  border-right-color: #ff7f00; }

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
  border-left-color: #ff7f00; }

.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
  border-bottom-color: #ff7f00; }

.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
  border-top-color: #ff7f00; }

.reveal .controls .navigate-left.enabled:hover {
  border-right-color: #ffa54d; }

.reveal .controls .navigate-right.enabled:hover {
  border-left-color: #ffa54d; }

.reveal .controls .navigate-up.enabled:hover {
  border-bottom-color: #ffa54d; }

.reveal .controls .navigate-down.enabled:hover {
  border-top-color: #ffa54d; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #ff7f00;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

@-webkit-keyframes colorchange {
  0% {
    color: yellow; }
  50% {
    color: black; }
  100% {
    color: yellow; } }

@-webkit-keyframes blink {
  0% {
    opacity: 1; }
  20% {
    opacity: 0; }
  30% {
    opacity: 1; }
  100% {
    opacity: 1; } }

.blink {
  animation: blink 1s infinite; }

.metal, .reveal h1, .reveal h2.metal, #slide-title h1 {
  font-family: 'Squealer';
  color: #fff;
  -webkit-text-stroke: .25px black; }

.reveal .block {
  display: inline-block;
  padding: 12.5px 25px;
  background: rgba(0, 0, 0, 0.7); }

.reveal .title-block {
  padding: 12.5px 25px;
  background: #333;
  margin-bottom: 50px; }
  .reveal .title-block h1, .reveal .title-block h2 {
    margin-bottom: 0; }

.reveal blockquote {
  position: relative;
  width: 100%;
  padding: 25px;
  background: #222;
  border-radius: 50px 0; }
  .reveal blockquote:before, .reveal blockquote:after {
    color: yellow;
    content: "\201C";
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em; }
  .reveal blockquote:after {
    content: "\201D";
    vertical-align: -0.5em; }

.reveal a:hover {
  color: yellow; }

.reveal section.top {
  top: 0 !important; }

.reveal pre {
  width: 100%;
  margin: 25px 0 0 0;
  box-shadow: none; }
  .reveal pre.page-title {
    margin-bottom: 5px; }

.reveal h1 {
  margin-bottom: 25px;
  text-align: left; }

.reveal h2, .reveal h3, .reveal small {
  font-family: "Helvetica", Arial; }

.reveal h2 {
  color: yellow; }

.reveal .rock-text {
  color: yellow;
  animation: colorchange .3s infinite; }

.reveal ul {
  list-style-type: none; }

.reveal ul {
  color: #fff;
  margin-left: 25px;
  list-style: none;
  text-align: left;
  width: 100%; }
  .reveal ul li {
    position: relative;
    font-size: 44px;
    min-height: 70px;
    padding-left: 70px;
    margin-bottom: 25px; }
  .reveal ul li:before {
    display: block;
    position: absolute;
    top: -22px;
    left: -10px;
    content: " ";
    width: 60px;
    height: 80px;
    background: url("../../images/fire.gif") no-repeat;
    background-position: center 0;
    background-size: 95%;
    padding-right: 5px; }

.reveal .slide-background video {
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
  opacity: .5; }

.reveal .slides {
  text-align: left; }
  .reveal .slides > section {
    padding-top: 0; }
    .reveal .slides > section header {
      padding: 12.5px 25px;
      font-family: 'Squealer';
      color: #fff;
      margin-bottom: 0; }
    .reveal .slides > section img {
      border: none;
      background: transparent; }
    .reveal .slides > section .subheader {
      position: relative;
      height: 60px;
      margin-bottom: 10px; }
      .reveal .slides > section .subheader h2 {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin-bottom: 25px; }
    .reveal .slides > section .fragment {
      opacity: 0;
      transition: opacity .5s ease; }
      .reveal .slides > section .fragment.current-visible {
        display: none;
        opacity: 0;
        transition: opacity .5s ease; }
        .reveal .slides > section .fragment.current-visible.current-fragment {
          display: block; }

.reveal div.page {
  background-color: transparent;
  color: #fff;
  min-height: 50px;
  border: dashed 3px #fff; }
  .reveal div.page > .inner {
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.2); }

* {
  margin: 0;
  padding: 0; }

html, body {
  height: 100%;
  margin: 0;
  overflow: hidden; }

body {
  font-family: 'Helvetica', Arial;
  font-size: 24px;
  background-color: #000; }

.caption, #adjective {
  display: inline-block;
  margin: -8px 0 0 12.5px;
  padding: 12.5px 25px 0;
  background-color: yellow;
  font-size: 72px;
  font-weight: bold;
  border: solid 2px #000;
  box-shadow: 7px 5px #000; }

.highlight {
  position: relative;
  color: yellow !important; }

.container {
  max-width: 1200px;
  padding: 0 25px;
  margin: 0 auto; }

.subtitle {
  margin-top: 25px;
  font-size: 52px; }

.metal-bg {
  background: url("../../images/metal-bg.jpg") repeat left top; }

#kickass {
  position: relative;
  margin: 0 auto;
  height: 200px;
  width: 800px;
  text-align: left; }

.kickass {
  width: 100%;
  height: 100%;
  font-family: Impact;
  font-weight: bold;
  font-size: 160px;
  text-transform: uppercase; }
  .kickass .text {
    fill: url(#firePattern);
    text-shadow: -2px -2px 0 #fff, -2px -1px 0 #fff, -2px 0px 0 #fff, -2px 1px 0 #fff, -2px 2px 0 #fff, -1px -2px 0 #fff, -1px -1px 0 #fff, -1px 0px 0 #fff, -1px 1px 0 #fff, -1px 2px 0 #fff, 0px -2px 0 #fff, 0px -1px 0 #fff, 0px 0px 0 #fff, 0px 1px 0 #fff, 0px 2px 0 #fff, 1px -2px 0 #fff, 1px -1px 0 #fff, 1px 0px 0 #fff, 1px 1px 0 #fff, 1px 2px 0 #fff, 2px -2px 0 #fff, 2px -1px 0 #fff, 2px 0px 0 #fff, 2px 1px 0 #fff, 2px 2px 0 #fff; }
    .kickass .text.two {
      fill: url(#firePattern2); }

.fire-bg {
  width: 100%;
  -webkit-clip-path: url(#svgPath);
  clip-path: url(#svgPath);
  margin: 0 auto; }

#slide-title h1 {
  position: relative;
  font-size: 72px;
  margin-bottom: 25px; }

#slide-title .twitter {
  float: left;
  margin-right: 5px; }

.d3-logo {
  display: block;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  stroke: #fff;
  stroke-width: 1.5px; }
  .d3-logo .fill {
    fill: #000; }
  .d3-logo .stroke {
    fill: none;
    stroke: #ff6100;
    stroke-width: 20px; }
  .d3-logo #dee, .d3-logo #three {
    fill: url(#firePattern3); }

.author {
  text-shadow: -2px -2px 0 #000, -2px -1px 0 #000, -2px 0px 0 #000, -2px 1px 0 #000, -2px 2px 0 #000, -1px -2px 0 #000, -1px -1px 0 #000, -1px 0px 0 #000, -1px 1px 0 #000, -1px 2px 0 #000, 0px -2px 0 #000, 0px -1px 0 #000, 0px 0px 0 #000, 0px 1px 0 #000, 0px 2px 0 #000, 1px -2px 0 #000, 1px -1px 0 #000, 1px 0px 0 #000, 1px 1px 0 #000, 1px 2px 0 #000, 2px -2px 0 #000, 2px -1px 0 #000, 2px 0px 0 #000, 2px 1px 0 #000, 2px 2px 0 #000; }

#selection1.updated {
  background-color: darkred; }
  #selection1.updated h1 {
    opacity: 1; }

.join.chart path {
  fill-opacity: 0;
  stroke: white;
  stroke-width: 2px;
  transition: fill-opacity 1s; }
  .join.chart path.join-data {
    fill: #00d911; }
  .join.chart path.join-update {
    fill: #ffaa00; }
  .join.chart path.join-exit {
    fill: #ff0410; }
  .join.chart path:hover, .join.chart path.active {
    fill-opacity: 1; }

.chart rect {
  fill: #ffaa00; }

span[class*="char"] {
  position: relative; }

.reveal input.large {
  font-size: 1em;
  padding: 3px 10px; }
  .reveal input.large.short {
    width: 150px;
    text-align: center; }

.reveal .form-row {
  margin-bottom: 25px; }

#scaledValue {
  width: 80px;
  color: #000;
  background-color: yellow;
  text-align: center; }

video.fullscreen {
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity; }
  video.fullscreen.first {
    z-index: -100;
    opacity: .7; }
