---
layout: default
---
<div class="sidebar-wrapper">
  <div class="row">
      <div class="column medium-9">
        <h1 class="page-heading">{{ page.category }}</h1>
          <ul class="post-list">
            {% for post in site.categories[page.category] %}
  			    
              <li>
                <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

                <h2>
                  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                </h2>
                <p>{{post.excerpt}}</p>
              </li>
            {% endfor %}
          </ul>

      </div>
      <div class="column medium-3">
        {% include sidebar.html %}
      </div>
  </div>
</div>