---
layout: default
---
<div class="sidebar-wrapper">
	<div class="row">
		<div class="column medium-8 large-9">
			<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

			  <header class="post-header">
				  <div class="cf">
				  	<div class="post-title">
				  		<h1 itemprop="name headline">{{ page.title }}</h1>
				  		<div class="post-meta cf">
				  			
				  			<div class="date left">{{ page.date | date: "%b %-d, %Y" }}</div>
				  			{% if page.author %}
				  			<div class="author left">
				  				<span itemprop="author" itemscope itemtype="http://schema.org/Person">
				  				<span itemprop="name">/ {{ page.author }}</span></span>
				  			</div>
				  			{% endif %}
				  			
				  		</div><!-- end post meta -->
				  	</div>
				  	
				  </div>
			    
			  </header>

			  <div class="post-content" itemprop="articleBody">
			    {{ content }}
			  </div>

			</article>
		</div>
		<div class="column medium-4 large-3">
	    {% include sidebar.html %}
	  </div>
		
	</div>
</div>

